# The Dataset: Immigration to Canada from 1980 to 2013

The dataset contains annual data on the flows of international immigrants as recorded by the countries of destination. The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals. The current version presents data pertaining to 45 countries.

In this lab, we will focus on the Canadian immigration data.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('Canada.xlsx',sheet_name='Canada by Citizenship',skiprows=20,skipfooter=2)

In [4]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 43 columns):
Type        195 non-null object
Coverage    195 non-null object
OdName      195 non-null object
AREA        195 non-null int64
AreaName    195 non-null object
REG         195 non-null int64
RegName     195 non-null object
DEV         195 non-null int64
DevName     195 non-null object
1980        195 non-null int64
1981        195 non-null int64
1982        195 non-null int64
1983        195 non-null int64
1984        195 non-null int64
1985        195 non-null int64
1986        195 non-null int64
1987        195 non-null int64
1988        195 non-null int64
1989        195 non-null int64
1990        195 non-null int64
1991        195 non-null int64
1992        195 non-null int64
1993        195 non-null int64
1994        195 non-null int64
1995        195 non-null int64
1996        195 non-null int64
1997        195 non-null int64
1998        195 non-null int64
1999        195 non-null int64
2000        195 non-null int64
2001        195 non-null int64
2002        195 non-null int64
2003        195 non-null int64
2004        195 non-null int64
2005        195 non-null int64
2006        195 non-null int64
2007        195 non-null int64
2008        195 non-null int64
2009        195 non-null int64
2010        195 non-null int64
2011        195 non-null int64
2012        195 non-null int64
2013        195 non-null int64
dtypes: int64(37), object(6)
memory usage: 61.0+ KB

In [6]:
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [7]:
df.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194],
      dtype=int64)

In [8]:
print(type(df.columns.tolist()))
print(type(df.index.tolist()))

<class 'list'>
<class 'list'>

In [9]:
df.shape

(195, 43)

In [10]:
df.drop(columns=['Type','Coverage','AREA','REG','DEV'],inplace=True)

In [11]:
df.head()

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

In [12]:
df.rename(columns={'OdName':'Country','AreaName':'Continent','RegName':'Region'},inplace=True)

In [13]:
df['Total']=df.sum(axis=1)

In [14]:
df.isnull().sum()

Country      0
Continent    0
Region       0
DevName      0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
Total        0
dtype: int64

In [15]:
df.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,691.133333,714.389744,843.241026,...,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564,32867.451282
std,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,2109.205607,2443.606788,2555.048874,...,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988,91785.498686
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,...,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000,952.000000
50%,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,26.000000,34.000000,44.000000,...,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000,5018.000000
75%,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,434.000000,409.000000,508.500000,...,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000,22239.500000
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,...,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000,691904.000000

In [17]:
df[['Country',1980,1981,1982,1983,1984,1985]]

,Country,1980,1981,1982,1983,1984,1985
0,Afghanistan,16,39,39,47,71,340
1,Albania,1,0,0,0,0,0
2,Algeria,80,67,71,69,63,44
3,American Samoa,0,1,0,0,0,0
4,Andorra,0,0,0,0,0,0
5,Angola,1,3,6,6,4,3
6,Antigua and Barbuda,0,0,0,0,42,52
7,Argentina,368,426,626,241,237,196
8,Armenia,0,0,0,0,0,0
9,Australia,702,639,484,317,317,319
10,Austria,234,238,201,117,127,165
11,Azerbaijan,0,0,0,0,0,0
12,Bahamas,26,23,38,12,21,28
13,Bahrain,0,2,1,1,1,3
14,Bangladesh,83,84,86,81,98,92
15,Barbados,372,376,299,244,265,285
16,Belarus,0,0,0,0,0,0
17,Belgium,511,540,519,297,183,181
18,Belize,16,27,13,21,37,26
19,Benin,2,5,4,3,4,3
20,Bhutan,0,0,0,0,1,0
21,Bolivia (Plurinational State of),44,52,42,49,38,44
22,Bosnia and Herzegovina,0,0,0,0,0,0
23,Botswana,10,1,3,3,7,4
24,Brazil,211,220,192,139,145,130
25,Brunei Darussalam,79,6,8,2,2,4
26,Bulgaria,24,20,12,33,11,24
27,Burkina Faso,2,1,3,2,3,2
28,Burundi,0,0,0,0,1,2
29,Cabo Verde,1,1,2,0,11,1
...,...,...,...,...,...,...,...
165,Suriname,15,10,21,12,5,16
166,Swaziland,4,1,1,0,10,7
167,Sweden,281,308,222,176,128,158
168,Switzerland,806,811,634,370,326,314
169,Syrian Arab Republic,315,419,409,269,264,385
170,Tajikistan,0,0,0,0,0,0
171,Thailand,56,53,113,65,82,66
172,The former Yugoslav Republic of Macedonia,0,0,0,0,0,0
173,Togo,5,5,2,3,6,5
174,Tonga,2,4,7,1,2,5
175,Trinidad and Tobago,958,947,972,766,606,699
176,Tunisia,58,51,55,46,51,57
177,Turkey,481,874,706,280,338,202
178,Turkmenistan,0,0,0,0,0,0
179,Tuvalu,0,1,0,0,1,0
180,Uganda,13,16,17,38,32,29
181,Ukraine,0,0,0,0,0,0
182,United Arab Emirates,0,2,2,1,2,0
183,United Kingdom of Great Britain and Northern I...,22045,24796,20620,10015,10170,9564
184,United Republic of Tanzania,635,832,621,474,473,460
185,United States of America,9378,10030,9074,7100,6661,6543
186,Uruguay,128,132,146,105,90,92
187,Uzbekistan,0,0,0,0,0,0
188,Vanuatu,0,0,0,0,0,0
189,Venezuela (Bolivarian Republic of),103,117,174,124,142,165
190,Viet Nam,1191,1829,2162,3404,7583,5907
191,Western Sahara,0,0,0,0,0,0
192,Yemen,1,2,1,6,0,18
193,Zambia,11,17,11,7,16,9
194,Zimbabwe,72,114,102,44,32,29

In [18]:
df.set_index('Country', inplace=True)

In [19]:
df.head(3)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439

In [26]:
df.columns = list(map(str,df.columns))

In [29]:
[print(type(x)) for x in df.columns.values]

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [31]:
years = list(map(str,range(1980,2014)))

In [35]:
condition = df['Continent'] == 'Asia'
print(condition)

Country
Afghanistan                                             True
Albania                                                 True
Algeria                                                 True
American Samoa                                          True
Andorra                                                 True
Angola                                                  True
Antigua and Barbuda                                     True
Argentina                                               True
Armenia                                                 True
Australia                                               True
Austria                                                 True
Azerbaijan                                              True
Bahamas                                                 True
Bahrain                                                 True
Bangladesh                                              True
Barbados                                                True
Belarus                                                 True
Belgium                                                 True
Belize                                                  True
Benin                                                   True
Bhutan                                                  True
Bolivia (Plurinational State of)                        True
Bosnia and Herzegovina                                  True
Botswana                                                True
Brazil                                                  True
Brunei Darussalam                                       True
Bulgaria                                                True
Burkina Faso                                            True
Burundi                                                 True
Cabo Verde                                              True
                                                        ...
Suriname                                                True
Swaziland                                               True
Sweden                                                  True
Switzerland                                             True
Syrian Arab Republic                                    True
Tajikistan                                              True
Thailand                                                True
The former Yugoslav Republic of Macedonia               True
Togo                                                    True
Tonga                                                   True
Trinidad and Tobago                                     True
Tunisia                                                 True
Turkey                                                  True
Turkmenistan                                            True
Tuvalu                                                  True
Uganda                                                  True
Ukraine                                                 True
United Arab Emirates                                    True
United Kingdom of Great Britain and Northern Ireland    True
United Republic of Tanzania                             True
United States of America                                True
Uruguay                                                 True
Uzbekistan                                              True
Vanuatu                                                 True
Venezuela (Bolivarian Republic of)                      True
Viet Nam                                                True
Western Sahara                                          True
Yemen                                                   True
Zambia                                                  True
Zimbabwe                                                True
Name: Continent, Length: 195, dtype: bool

In [37]:
df[condition]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Asia,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Asia,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Asia,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
Andorra,Asia,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15
Angola,Asia,Middle Africa,Developing regions,1,3,6,6,4,3,5,...,295,184,106,76,62,61,39,70,45,2113
Antigua and Barbuda,Asia,Caribbean,Developing regions,0,0,0,0,42,52,51,...,24,32,15,32,38,27,37,51,25,981
Argentina,Asia,South America,Developing regions,368,426,626,241,237,196,213,...,1153,847,620,540,467,459,278,263,282,19596
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,224,218,198,205,267,252,236,258,207,3310
Australia,Asia,Australia and New Zealand,Developed regions,702,639,484,317,317,319,356,...,909,875,1033,1018,1018,933,851,982,1121,23829
Austria,Asia,Western Europe,Developed regions,234,238,201,117,127,165,196,...,122,102,98,91,109,124,84,102,90,4985
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,359,236,203,125,165,209,138,161,57,2649
Bahamas,Asia,Caribbean,Developing regions,26,23,38,12,21,28,23,...,14,18,23,30,27,25,40,60,55,808
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,...,12,12,22,9,35,28,21,39,32,475
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
Barbados,Asia,Caribbean,Developing regions,372,376,299,244,265,285,251,...,111,97,130,134,125,121,97,132,97,6923
Belarus,Asia,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,558,439,568,524,454,438,357,277,247,7975
Belgium,Asia,Western Europe,Developed regions,511,540,519,297,183,181,197,...,400,302,363,335,358,363,332,402,379,10762
Belize,Asia,Central America,Developing regions,16,27,13,21,37,26,25,...,37,24,28,48,38,39,36,34,53,1083
Benin,Asia,Western Africa,Developing regions,2,5,4,3,4,3,6,...,95,116,183,205,238,290,284,391,397,2852
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,5,10,7,36,865,1464,1879,1075,487,5876
Bolivia (Plurinational State of),Asia,South America,Developing regions,44,52,42,49,38,44,79,...,134,139,107,143,214,180,86,83,107,3205
Bosnia and Herzegovina,Asia,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,211,217,209,182,156,168,140,121,119,21855
Botswana,Asia,Southern Africa,Developing regions,10,1,3,3,7,4,2,...,7,11,8,28,15,42,53,64,76,396
Brazil,Asia,South America,Developing regions,211,220,192,139,145,130,205,...,969,1181,1746,2138,2509,2598,1508,1642,1714,29659
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,4,5,11,10,5,12,6,3,6,600
Bulgaria,Asia,Eastern Europe,Developed regions,24,20,12,33,11,24,33,...,1738,1419,1172,994,784,556,365,451,512,23310
Burkina Faso,Asia,Western Africa,Developing regions,2,1,3,2,3,2,7,...,91,147,136,139,162,186,144,269,322,2043
Burundi,Asia,Eastern Africa,Developing regions,0,0,0,0,1,2,1,...,626,468,614,448,566,529,604,684,480,8110
Cabo Verde,Asia,Western Africa,Developing regions,1,1,2,0,11,1,9,...,5,7,2,5,1,3,3,6,2,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Suriname,Asia,South America,Developing regions,15,10,21,12,5,16,7,...,15,16,20,9,12,13,11,16,4,739
Swaziland,Asia,Southern Africa,Developing regions,4,1,1,0,10,7,1,...,7,7,5,6,10,3,13,17,39,188
Sweden,Asia,Northern Europe,Developed regions,281,308,222,176,128,158,187,...,205,139,193,165,167,159,134,140,140,5866
Switzerland,Asia,Western Europe,Developed regions,806,811,634,370,326,314,294,...,270,258,308,357,328,285,266,243,201,15678
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,1458,1145,1056,919,917,1039,1005,650,1009,31485
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,85,46,44,15,50,52,47,34,39,503
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,575,500,487,519,512,499,396,296,400,9174
The former Yugoslav Republic of Macedonia,Asia,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,285,256,211,191,198,188,130,126,112,4637
Togo,Asia,Western Africa,Developing regions,5,5,2,3,6,5,8,...,157,149,235,351,400,354,261,299,316,3545
Tonga,Asia,Polynesia,Developing regions,2,4,7,1,2,5,7,...,2,0,1,0,5,5,2,3,5,142
Trinidad and Tobago,Asia,Caribbean,Developing regions,958,947,972,766,606,699,955,...,857,794,975,1002,1134,915,588,586,427,50016
Tunisia,Asia,Northern Africa,Developing regions,58,51,55,46,51,57,64,...,756,1065,869,950,1195,1299,1442,1503,1627,17583
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,...,2065,1638,1463,1122,1238,1492,1257,1068,729,31781
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,40,26,37,13,20,30,20,20,14,310
Tuvalu,Asia,Polynesia,Developing regions,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,8
Uganda,Asia,Eastern Africa,Developing regions,13,16,17,38,32,29,40,...,239,201,170,204,185,216,213,222,206,3450
Ukraine,Asia,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,2270,1973,2218,1937,2367,3159,2515,2265,2487,51410
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,31,42,37,33,37,86,60,54,46,836
United Kingdom of Great Britain and Northern Ireland,Asia,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,9470,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500
United Republic of Tanzania,Asia,Eastern Africa,Developing regions,635,832,621,474,473,460,403,...,274,291,195,230,136,200,215,224,182,12496
United States of America,Asia,Northern America,Developed regions,9378,10030,9074,7100,6661,6543,7074,...,8394,9613,9463,10190,8995,8142,7676,7891,8501,241122
Uruguay,Asia,South America,Developing regions,128,132,146,105,90,92,137,...,217,175,147,160,99,93,81,47,58,4715
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,330,262,284,215,288,289,162,235,167,3368
Vanuatu,Asia,Melanesia,Developing regions,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,11
Venezuela (Bolivarian Republic of),Asia,South America,Developing regions,103,117,174,124,142,165,179,...,1211,1192,1335,1239,1353,998,1452,1373,1022,21267
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
Western Sahara,Asia,Northern Africa,Developing regions,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,161,140,122,133,128,211,160,174,217,2985
Zambia,Asia,Eastern Africa,Developing regions,11,17,11,7,16,9,15,...,91,77,71,64,60,102,69,46,59,1677
Zimbabwe,Asia,Eastern Africa,Developing regions,72,114,102,44,32,29,43,...,615,454,663,611,508,494,434,437,407,8598